@page "/update"
@using picamerasserver.Components.Components
@using picamerasserver.Components.Components.StatusTable
@inject ISnackbar Snackbar

<PageTitle>Update - PiCam</PageTitle>
<DefaultPage>
    <MudStack Style="width: 100%">
        <MudExpansionPanels Elevation="5" MultiExpansion Dense>
            <MudExpansionPanel Expanded Gutters="false" Dense="true">
                <TitleContent>
                    <MudText Typo="Typo.h5">Send update</MudText>
                </TitleContent>
                <ChildContent>
                    <StatusTable
                        ColorTransform="@ColorTransform"
                        TooltipTransform="@_tooltipTransform">
                    </StatusTable>
                    <MudStack Row="true" Spacing="4" Class="pa-4" AlignItems="AlignItems.Center">
                        <MudButton
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            OnClick="@SendUpdate"
                            Disabled="UpdateActive"
                        >
                            Update
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                   OnClick="@CancelUpdate" Disabled="!UpdateActive">
                            Cancel send
                        </MudButton>
                    </MudStack>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Expanded Gutters="false" Dense="true">
                <TitleContent>
                    <MudText Typo="Typo.h5">List of updates</MudText>
                </TitleContent>
                <ChildContent>
                    <MudDataGrid @ref="_gridData" T="UpdateElement" ServerData="ServerReload" Filterable="false"
                                 SortMode="SortMode.None">
                        @* <ToolBarContent> *@
                        @*     <MudText Typo="Typo.h6">Pictures</MudText> *@
                        @* </ToolBarContent> *@
                        <Columns>
                            <TemplateColumn HeaderClass="align-center px-0"
                                            HeaderStyle="text-align: center; max-width:75px" CellClass="pa-0 ma-0"
                                            CellStyle="text-align: center; max-width: 75px">
                                <HeaderTemplate>
                                    <div>
                                        Selected
                                    </div>
                                </HeaderTemplate>
                                <CellTemplate>
                                    <MudToggleIconButton Toggled="@context.Item.IsCurrent"
                                                         ToggledChanged="@(() => SelectUpdate(context.Item.Version))"
                                                         Icon="@Icons.Material.Filled.RadioButtonUnchecked"
                                                         Color="@Color.Default"
                                                         ToggledIcon="@Icons.Material.Filled.RadioButtonChecked"
                                                         ToggledColor="@Color.Success"
                                                         Class="pa-3 ma-0"
                                                         Disabled="@UpdateActive"
                                    />
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Property="x => x.Version" Title="Version"/>
                            <PropertyColumn Property="x => x.UploadedTime" Title="Uploaded time"/>
                            <PropertyColumn Property="x => x.UpdatedTime" Title="Updated time"/>
                        </Columns>
                        <PagerContent>
                            <MudDataGridPager T="UpdateElement"/>
                        </PagerContent>
                    </MudDataGrid>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel Expanded>
                <TitleContent>
                    <MudText Typo="Typo.h5">Upload update</MudText>
                </TitleContent>
                <ChildContent>
                    <MudText>Version: @_version</MudText>
                    <MudFileUpload T="IBrowserFile"
                                   @ref="@_fileUpload"
                                   OnFilesChanged="OnInputFileChanged"
                                   MaximumFileCount="1"
                                   Hidden="@false"
                                   InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10 cursor-pointer"
                                   InputStyle="opacity:0"
                                   tabindex="-1"
                                   @ondrop="@ClearDragClass"
                                   @ondragenter="@SetDragClass"
                                   @ondragleave="@ClearDragClass"
                                   @ondragend="@ClearDragClass">
                        <ActivatorContent>
                            <MudPaper Height="300px"
                                      Outlined="true"
                                      Class="@_dragClass">
                                <MudText Typo="Typo.h6">
                                    Drag and drop file here or click
                                </MudText>
                                @if (_file != null)
                                {
                                    <MudChip T="string"
                                             Color="Color.Dark"
                                             Text="@_file.Name"
                                             tabindex="-1"/>
                                }
                            </MudPaper>
                        </ActivatorContent>
                    </MudFileUpload>
                    <MudToolBar Gutters="@false"
                                Class="relative d-flex justify-end gap-4">
                        <MudButton Color="Color.Primary"
                                   OnClick="@OpenFilePickerAsync"
                                   Variant="Variant.Filled">
                            Open file picker
                        </MudButton>
                        <MudButton Color="Color.Primary"
                                   Disabled="@(_file == null)"
                                   OnClick="@Upload"
                                   Variant="Variant.Filled">
                            Upload
                        </MudButton>
                        <MudButton Color="Color.Error"
                                   Disabled="@(_file == null)"
                                   OnClick="@ClearAsync"
                                   Variant="Variant.Filled">
                            Clear
                        </MudButton>
                    </MudToolBar>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudStack>
</DefaultPage>

@code {
    private Func<string, RenderFragment?> _tooltipTransform = _ => null;
}